data/raw/bangalore_map.osm filter=lfs diff=lfs merge=lfs -text
data/network/** filter=lfs diff=lfs merge=lfs -text
data/routes/** filter=lfs diff=lfs merge=lfs -text
*.osm filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
